<div id="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Tabla de clientes</div>
      <div class="card-body">
        <div class="table-responsive-sm">
          <table class="table table-hover" datatable="" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Cuit</th>
                <th scope="col">Saldo</th>
                <th scope="col">Age</th>
              </tr>
            </thead>
            <tbody *ngIf="clientes?.length != 0">
              <tr *ngFor="let client of clientes; let i = index">
                <th scope="col">{{i+1}}</th>
                <td>{{client.razonSocial}}</td>
                <td>{{client.cuit}}</td>
                <td>{{client.saldo}}</td>
                <td>{{client | json}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>