<!-- NAVBAR -->
<app-navbar></app-navbar>

<div class="container">
  <br>
  <div class="row">

    <!-- SIDEBAR -->
    <app-sidebar></app-sidebar>

    <div class="col-lg-12">
      <div class="card shadow">
        <div class="card-body">
          <h4><i class="fas fa-table"></i> Registro de clientes</h4>
          <button [routerLink]="['/clientes/cliente/new']" routerLinkActive="router-link-active" class="btn btn-sm btn-warning text-white"
            style="float: right;"><i class="fas fa-plus-circle"></i>Agregar Cliente</button>
            <br><br>
          <div class="table-responsive">
            <table id="example" class="table table-sm " datatable="" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Razon Social</th>
                  <th scope="col">Cuit</th>
                  <th scope="col">Saldo</th>
                  <th scope="col">Localidad</th>
                  <th scope="col">Calle</th>
                  <!-- <th scope="col">Lat</th> -->
                  <!-- <th scope="col">Long</th> -->
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody *ngIf="clientes?.length != 0">
                <tr *ngFor="let clienteDomicilio of clientesDomicilio; let i = index" [attr.id]="clienteDomicilio.id">
                  <th scope="col">{{i+1}}</th>
                  <td>{{clienteDomicilio.cliente.razonSocial}}</td>
                  <td>{{clienteDomicilio.cliente.cuit}}</td>
                  <td>{{clienteDomicilio.cliente.saldo}}</td>
                  <td>{{clienteDomicilio.localidad}}</td>
                  <td>{{clienteDomicilio.calle}}</td>
                  <!-- <td>{{clienteDomicilio.latitud}}</td>
                  <td>{{clienteDomicilio.longitud}}</td> -->
                  <td><button [routerLink]="['/clientes/cliente', clienteDomicilio.id]" routerLinkActive="router-link-active"
                      type="button" class="btn btn-sm btn-info">
                      <span class="fas fa-edit"></span>
                    </button></td>
                  <td><button type="button" class="btn btn-sm btn-danger" (click)="borrar(clienteDomicilio)">
                      <span class="fas fa-trash-alt"></span>
                    </button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br><br><br>

    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>