<!-- NAVBAR -->
<app-navbar></app-navbar>

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col align-self-center shadow">
      <button [routerLink]="['/pedidos']" routerLinkActive="router-link-active" class="close" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <br>
      <h5><i class="fas fa-home"></i>{{accion}}</h5>

      <form (ngSubmit)="guardar()" [formGroup]="forma">

        <div class="form-row">
          <!-- Nro Pedido -->
          <div class="form-group col-md-2">
            <label for="nroDePedido">Nº Pedido</label>
            <input type="number" class="form-control" id="nroDePedido" placeholder="Nº de pedido" formControlName="nroDePedido"
              [(ngModel)]="pedido.pedido_venta_domicilio.nroDePedido">

            <div class="alert alert-warning" *ngIf="forma.get('nroDePedido').errors?.required && forma.get('nroDePedido').dirty">
              * Este campo es requerido
            </div>

            <div class="alert alert-warning" *ngIf="forma.get('nroDePedido').errors?.pattern">
              * Solo numeros enteros
            </div>
          </div>

          <!-- Fecha Pedido -->
          <div class="form-group col-md-5">
            <label for="fechaPedido" *ngIf="showCalendar" (click)="seeCalendar(false)">Fecha
              de pedido &#x25B2;</label>
            <label for="fechaPedido" *ngIf="!showCalendar" (click)="seeCalendar(true)">Fecha
              de pedido &#x25BC;</label>

            <div class="border" *ngIf="showCalendar">
              <dl-date-time-picker maxView="year" minView="hour" startView="day" minuteStep="59" [(ngModel)]="pedido.pedido_venta_domicilio.fechaPedido"
                formControlName="fechaPedido" (change)="onCustomDateChange($event)"></dl-date-time-picker>
            </div>

            <div *ngIf="!forma.get('fechaPedido').errors?.required">
              <fieldset disabled>
                <input type="text" id="fechaPedido" class="form-control" [placeholder]="pedido.pedido_venta_domicilio.fechaPedido
                | date:'short'">
              </fieldset>
            </div>

            <div class="alert alert-warning" *ngIf="forma.get('fechaPedido').errors?.required">
              * Este campo es requerido
            </div>
          </div>

          <!-- Fecha estimada de entrega -->
          <div class="form-group col-md-5">

            <label for="fechaEstimadaEntrega" *ngIf="showCalendar2" (click)="seeCalendar2(false)">Fecha
              de entrega &#x25B2;</label>

            <label for="fechaEstimadaEntrega" *ngIf="!showCalendar2" (click)="seeCalendar2(true)">Fecha
              de entrega &#x25BC;</label>

            <div class="border" *ngIf="showCalendar2">
              <dl-date-time-picker maxView="year" minView="hour" startView="day" minuteStep="59" [(ngModel)]="pedido.pedido_venta_domicilio.fechaEstimadaEntrega"
                formControlName="fechaEstimadaEntrega" (change)="onCustomDateChange2($event)"></dl-date-time-picker>
            </div>

            <div *ngIf="!forma.get('fechaEstimadaEntrega').errors?.required">
              <fieldset disabled>
                <input type="text" id="fechaEstimadaEntrega" class="form-control" [placeholder]="pedido.pedido_venta_domicilio.fechaEstimadaEntrega
                  | date:'short'">
              </fieldset>
            </div>

            <div class="alert alert-warning" role="alert" *ngIf="forma.get('fechaEstimadaEntrega').errors?.required">
              * Este campo es requerido
            </div>

            <div class="alert alert-info" role="alert" *ngIf="!isBigger">
              * La fecha de entrega debe ser mayor a la del pedido
            </div>
          </div>

        </div>

        <div class="form-row">
          <!-- Gastos de envio -->
          <div class="form-group col-md-3">
            <label for="gastosEnvio">Gastos de envio</label>
            <input type="number" class="form-control" id="gastosEnvio" [placeholder]="pedido.pedido_venta_domicilio.gastosEnvio"
              formControlName="gastosEnvio" [(ngModel)]="pedido.pedido_venta_domicilio.gastosEnvio">

            <div class="alert alert-warning" *ngIf="forma.get('gastosEnvio').errors?.required && forma.get('gastosEnvio').dirty">
              * Este campo es requerido
            </div>

            <div class="alert alert-warning" *ngIf="forma.get('gastosEnvio').errors?.pattern">
              * Solo numeros
            </div>
          </div>

          <!-- Estado -->
          <div class="form-group col-md-2">
            <label for="estado">Estado</label>
            <select class="custom-select" id="estado" formControlName="estado" (change)="selectChange()">
              <option *ngFor="let estado of estados" [ngValue]="estado.name">{{estado.name}}</option>
            </select>
          </div>

          <!-- Entregado -->
          <!-- <div class="form-group col-md-2">
            <div class="form-check">
              <fieldset disabled>
                <input class="form-check-input" type="checkbox" [value]="" id="entregado" formControlName="entregado"
                  [(ngModel)]="pedido.pedido_venta_domicilio.entregado">
              </fieldset>
              <label class="form-check-label" for="entregado">
                Entregado
              </label>
            </div>
          </div> -->
        </div>

        <div class="form-row">

          <!-- SubTotal -->
          <div class="form-group col-md-2">
              <label for="subTotal">SubTotal</label>
              <fieldset disabled>
                <input type="text" id="subTotal" class="form-control" [placeholder]="pedido.pedido_venta_domicilio.subTotal"
                  formControlName="subTotal" [(ngModel)]="pedido.pedido_venta_domicilio.subTotal">
              </fieldset>
            </div>
  
            <!-- Monto Total -->
            <div class="form-group col-md-2">
              <label for="montoTotal">Monto Total</label>
              <fieldset disabled>
                <input type="text" id="montoTotal" class="form-control" [placeholder]="pedido.pedido_venta_domicilio.montoTotal"
                  formControlName="montoTotal" [(ngModel)]="pedido.pedido_venta_domicilio.montoTotal">
              </fieldset>
            </div>
            
        </div>

        <hr class="my-2"><br>
        <div class="form-row">
          <h6><i class="fas fa-asterisk"></i> Detalle del pedido</h6>
        </div>

        <div class="modal-footer">
          <button [routerLink]="['/pedidos']" routerLinkActive="router-link-active" class="btn btn-outline-secondary"
            type="button">Cancelar</button>

          <button [disabled]="!forma.valid || !isBigger" class="btn btn-outline-primary" type="submit">Guardar</button>
        </div>

      </form>

    </div>
    <div class="col-1"></div>
  </div>
  <br><br><br>
</div>

<!-- FOOTER -->
<app-footer></app-footer>