<br>
<h5><i class="fas fa-home"></i>{{accion}}</h5>

<form (ngSubmit)="guardar()" [formGroup]="forma">
  <div class="form-row">
    <!-- Nro Pedido -->
    <div class="form-group col">
      <label for=" nroPedido">Nº Pedido</label>
      <input type="number" class="form-control" id="nroPedido" [placeholder]="pedido.nroPedido" formControlName="nroPedido"
        [(ngModel)]="pedido.nroPedido">

      <div class="alert alert-warning" *ngIf="forma.get('nroPedido').errors?.required && forma.get('nroPedido').dirty">
        * Este campo es requerido
      </div>

      <div class="alert alert-warning" *ngIf="forma.get('nroPedido').errors?.pattern">
        * Solo numeros enteros
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Fecha Pedido -->
    <div class="form-group col">
      <label for="fechaPedido" *ngIf="showCalendar" (click)="seeCalendar(false)">Fecha
        de pedido &#x25B2;</label>
      <label for="fechaPedido" *ngIf="!showCalendar" (click)="seeCalendar(true)">Fecha
        de pedido &#x25BC;</label>

      <div class="border" *ngIf="showCalendar">
        <dl-date-time-picker maxView="year" minView="hour" startView="day" minuteStep="59" [(ngModel)]="pedido.fechaPedido"
          formControlName="fechaPedido" (change)="onCustomFechaPedido($event)"></dl-date-time-picker>
      </div>

      <div *ngIf="!forma.get('fechaPedido').errors?.required">
        <fieldset disabled>
          <input type="text" id="fechaPedido" class="form-control" [placeholder]="pedido.fechaPedido
      | date:'short'">
        </fieldset>
      </div>

      <div class="alert alert-warning" *ngIf="forma.get('fechaPedido').errors?.required">
        * Este campo es requerido
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Fecha estimada de entrega -->
    <div class="form-group col">

      <label for="fechaEstimadaEntrega" *ngIf="showCalendar2" (click)="seeCalendar2(false)">Fecha
        de entrega &#x25B2;</label>

      <label for="fechaEstimadaEntrega" *ngIf="!showCalendar2" (click)="seeCalendar2(true)">Fecha
        de entrega &#x25BC;</label>

      <div class="border" *ngIf="showCalendar2">
        <dl-date-time-picker maxView="year" minView="hour" startView="day" minuteStep="59" [(ngModel)]="pedido.fechaEstimadaEntrega"
          formControlName="fechaEstimadaEntrega" (change)="onCustomFechaEntrega($event)"></dl-date-time-picker>
      </div>

      <div *ngIf="!forma.get('fechaEstimadaEntrega').errors?.required">
        <fieldset disabled>
          <input type="text" id="fechaEstimadaEntrega" class="form-control" [placeholder]="pedido.fechaEstimadaEntrega
        | date:'short'">
        </fieldset>
      </div>

      <div class="alert alert-warning" role="alert" *ngIf="forma.get('fechaEstimadaEntrega').errors?.required">
        * Este campo es requerido
      </div>

      <div class="alert alert-info" role="alert" *ngIf="!isBigger">
        * La fecha de entrega debe ser mayor a la del pedido
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Gastos de envio -->
    <div class="form-group col">
      <label for="gastosEnvio">Gastos de envio</label>
      <input type="number" class="form-control" id="gastosEnvio" [placeholder]="pedido.gastosEnvio" formControlName="gastosEnvio"
        [(ngModel)]="pedido.gastosEnvio" (change)="calcularMontoTotal()">

      <div class="alert alert-warning" *ngIf="forma.get('gastosEnvio').errors?.required && forma.get('gastosEnvio').dirty">
        * Este campo es requerido
      </div>

      <div class="alert alert-warning" *ngIf="forma.get('gastosEnvio').errors?.pattern">
        * Solo numeros
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Estado -->
    <div class="form-group col">
      <label for="estado">Estado</label>
      <select class="custom-select" id="estado" formControlName="estado" (change)="selectChangeEstado()">
        <option *ngFor="let estado of estados" [ngValue]="estado.name">{{estado.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <!-- SubTotal -->
    <div class="form-group col">
      <label for="subTotal">SubTotal</label>
      <fieldset disabled>
        <input type="text" id="subTotal" class="form-control" [placeholder]="pedido.subTotal" formControlName="subTotal"
          [(ngModel)]="pedido.subTotal">
      </fieldset>
    </div>
  </div>

  <div class="form-row">
    <!-- Monto Total -->
    <div class="form-group col">
      <label for="montoTotal">Monto Total</label>
      <fieldset disabled>
        <input type="text" id="montoTotal" class="form-control" [placeholder]="pedido.montoTotal" formControlName="montoTotal"
          [(ngModel)]="pedido.montoTotal">
      </fieldset>
    </div>
  </div>

  <div class="form-row">
    <!-- Cliente -->
    <div class="form-group col">
      <label for="cliente">Cliente</label>
      <select class="custom-select" id="cliente" formControlName="cliente" (change)="selectChangeCliente()">
        <option *ngFor="let cliente of clientes" [ngValue]="cliente.razonSocial">{{cliente.razonSocial}}</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
    <button (click)="guardar()" class="btn btn-primary" type="button" data-dismiss="modal" [disabled]="!forma.valid">Guardar</button>
  </div>

</form>