<div class="container-fluid">

  <!-- Navbar-->
  <app-navbar></app-navbar>
  <br>
  <div class="row">

    <!-- SIDEBAR -->
    <app-sidebar></app-sidebar>

    <div class="col">
      <div id="content-wrapper">
        <div class="shadow d-none d-md-block">
          <div class="jumbotron" *ngIf="currentPage == 5">
            <h1 class="display-3">Bienvenido!</h1>
            <p class="lead">Esta es una pagina administrativa.
              Aqui puedes dar de alta a clientes, articulos, su rubro y pedidos de venta
              Tambien puedes editar/cambiar y eliminar los registros que desees.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>