<div class="container">
  <ng-container *ngIf="!goLogin; else loginTemplate">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Registrarse</div>
      <div class="card-body">

        <form (ngSubmit)="signUp(forma)" #forma="ngForm">
          <div class="form-group">
            <div class="form-label-group">
              <input class="form-control" id="nameSU" placeholder="Ingrese su nombre" minlength="3" name="nameSU"
                [(ngModel)]="usuario.name" required #nameSU="ngModel">
              <label for="nameSU">Ingrese su nombre</label>
              <div *ngIf="nameSU.errors?.required && nameSU.dirty">
                <div class="alert alert-danger">
                  * Este campo es requerido
                </div>
              </div>

              <div *ngIf="nameSU.errors?.minlength">
                <div class="alert alert-warning">
                  * Al menos {{nameSU.errors.minlength.requiredLength}} caracteres
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="email" class="form-control" id="emailSU" placeholder="Ingrese email" name="emailSU"
                [(ngModel)]="usuario.email" required #emailSU="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <label for="emailSU">Ingrese email</label>

              <div *ngIf="emailSU.errors?.required && emailSU.dirty">
                <div class="alert alert-danger">
                  * Este campo es requerido
                </div>
              </div>

              <div *ngIf="!isValidSignUp">
                <div class="alert alert-danger">
                  * Error! ya existe un registro con este email
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" class="form-control" id="passwordSU" placeholder="Ingrese una contraseña"
                minlength="8" name="passwordSU" [(ngModel)]="usuario.password" #passwordSU="ngModel" required>
              <label for="passwordSU">Ingrese una contraseña</label>

              <div *ngIf="passwordSU.errors?.required && passwordSU.dirty">
                <div class="alert alert-danger">
                  * Este campo es requerido
                </div>
              </div>

              <div *ngIf="passwordSU.errors?.minlength">
                <div class="alert alert-warning">
                  * Al menos {{passwordSU.errors.minlength.requiredLength}} caracteres
                </div>
              </div>
            </div>
          </div>

          <button [disabled]="!forma.valid" type="submit" class="btn btn-success btn-block">Registrarse</button>

          <div class="text-center">
            <button class="btn btn-link" (click)="goLogin = true" role="link"><small class="form-text">
                Ya tienes una cuenta?, Inicia Sesion</small></button>
          </div>

        </form>
      </div>
    </div>
  </ng-container>

  <ng-template #loginTemplate>
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Inicia sesión</div>
      <div class="card-body">
        <form (ngSubmit)="logIn(forma2)" #forma2="ngForm">

          <div class="form-group">
            <div class="form-label-group">
              <input type="email" class="form-control" id="emailLI" placeholder="Ingrese email" name="emailLI"
                [(ngModel)]="usuario.email" required #emailLI="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <label for="emailLI">Ingrese email</label>

              <div *ngIf="emailLI.errors?.required && emailLI.dirty">
                <div class="alert alert-danger">
                  * Este campo es requerido
                </div>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" class="form-control" id="passwordLI" placeholder="Ingrese una contraseña"
                minlength="8" name="passwordLI" [(ngModel)]="usuario.password" #passwordLI="ngModel" required>
              <label for="passwordLI">Ingrese una contraseña</label>

              <div *ngIf="passwordLI.errors?.required && passwordLI.dirty">
                <div class="alert alert-danger">
                  * Este campo es requerido
                </div>
              </div>

              <div *ngIf="passwordLI.errors?.minlength">
                <div class="alert alert-warning">
                  * Al menos {{passwordLI.errors.minlength.requiredLength}} caracteres
                </div>
              </div>
            </div>
          </div>

          <button [disabled]="!forma2.valid" type="submit" class="btn btn-primary btn-block">Iniciar Sesion</button>

          <div *ngIf="!isValidLogIn"><br>
            <div class="alert alert-danger">
              * Error! correo o contraseña invalidos!
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-link" (click)="goLogin = false" role="link"><small class="form-text">No tienes una
                cuenta?, Registrate!</small></button>
          </div>

        </form>
      </div>
    </div>
  </ng-template>
</div>