/* For Datepicker */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
/*  */


table th, table td { 
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-rounded {
  border-radius: 50%;
}

* {
    font-size: 14px;
}